/build/
/out/
/dist/
/.vs/
/.vscode/
/.idea/

*.dll
*.exe
*.lib
*.a
*.obj
*.o
*.pdb
*.ilk
*.exp
*.log

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
build.ninja
.ninja_deps
.ninja_log

PhysicsControlStudio.json
*.user.json
*.pmm
*.pmx
*.pmd
